<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:hdp="http://www.springframework.org/schema/hadoop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/hadoop
	http://www.springframework.org/schema/hadoop/spring-hadoop.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	<!-- 配置hadoop的基本信息 -->
	<hdp:configuration>
		<!-- fs.default.name=${fs.default.name} -->
		fs.default.name=hdfs://192.16.135.160:9000  
	</hdp:configuration>
	<!-- <context:property-placeholder location="classpath:hadoop.properties" /> -->
	<!-- 配置zookeeper的信息，远程连接hbase时使用 -->
	<!-- hbaseConfiguration其实就是指的<hdp:hbase-configuration/>配置的信息 -->
	<hdp:hbase-configuration zk-quorum="192.16.135.160,192.16.135.161,192.16.135.165"
		zk-port="2181" />

	<!-- hbaseConfiguration其实就是指的<hdp:hbase-configuration/>配置的信息 -->
	<bean id="htemplate" class="org.springframework.data.hadoop.hbase.HbaseTemplate">

		<property name="configuration" ref="hbaseConfiguration">

		</property>
	</bean>
	<!-- 配置数据源 -->
	<bean id="configBean"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:dataSource.properties" />
	</bean>

</beans>
